{% extends "::base.html.twig" %}

{% block body %}

    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <div class="checkbox">
                <label>
                    {{ form_widget(form.sms) }}
                    {{ form_label(form.sms, 'SMS notification') }}
                    {{ form_errors(form.sms) }}
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <div class="checkbox">
                <label>
                    {{ form_widget(form.push) }}
                    {{ form_label(form.push, 'Push notification') }}
                    {{ form_errors(form.push) }}
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.checkFirst, 'First reminder') }}
        <div class="col-sm-8 error-handling">
            {{ form_widget(form.checkFirst) }}
            {{ form_errors(form.checkFirst) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.checkSecond, 'Second reminder') }}
        <div class="col-sm-8 error-handling">
            {{ form_widget(form.checkSecond) }}
            {{ form_errors(form.checkSecond) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.checkThird, 'Third reminder (next day)') }}
        <div class="col-sm-8 error-handling">
            {{ form_widget(form.checkThird) }}
            {{ form_errors(form.checkThird) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.phone, 'Mobile number') }}
        <div class="col-sm-8 error-handling">
            <div class="input-group">
                <div class="input-group-addon">+ 38</div>
                {{ form_widget(form.phone) }}
            </div>
            {{ form_errors(form.phone) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-warning"> Edit </button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock body %}
